<div>
  <%= form_with(model: [post, post.comments.new]) do |f| %>
    <div class="font-bold bg-blue-300">
      <%= f.label 'New comment' %>
    </div>
    <div class="mt-2">
      <%= f.text_area :body, class: 'form-control' %>
    </div>
    <div class="mt-2">
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>