<h1>Posts</h1>

<div class="mt-10">
  <%= button_to "Create New Post", new_post_path, method: :get %>
</div>

<div class="mt-10">
  <%== pagy_nav(@pagy) %>
</div>

<div class="mt-5">
  <%= render partial:"posts/all_posts", locals: { posts: @posts } %>
</div>

<div class="mt-10">
  <%== pagy_nav(@pagy) %>
</div>
